async-timeout==5.0.1
certifi==2026.1.4
charset-normalizer==3.4.4
dotenv==0.9.9
idna==3.11
pillow==11.3.0
pygame==2.6.1
python-dotenv==1.2.1
qrcode==8.2
redis==7.0.1
requests==2.32.5
spotipy==2.25.2
urllib3==2.6.3
